.title {
	font-size: 55px;
	position: relative;
	bottom: 500px;
	text-align: center;
	color: white;
	margin: 0px auto;
	padding: 0px auto;

}

body {
	margin: 0px auto;
}

img {
	position: relative;
	height: 810px;
	
}